/*========================================*/
/*------------ [Google_Font] -----------*/
/*========================================*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

/*========================================*/
/*------------ [_Root] bde0feff-------FFC368----*/
/*========================================*/

:root {

    /* Colors */
    --bg-primary-color: #E5E5E5; 
    --bg-secondary-color: #F1F1F1;
    --text-primary-color: #000000;
    --text-secondary-color: #C4C4C4;
    --card-primary-color: #77B6D5;
    --card-secondary-color: #0f5545;
    --white-color: #FFF;

    /* Font and Typography */
    --font: 'Open Sans', sans-serif;

    --mfont-max: 2.5rem;
    --mfont-midi: 1.75rem;
    --mfont-mini: 1.25rem;
    --mfont-reg: .875rem;
    --mfont-tiny: .75rem;

    --font-bold: 800;
    --font-semi: 600;
    --font-norm: 400;
    --font-light: 300;
    
}

@media screen and (min-width:768px) {
    :root {
        --font-max: 4.5rem;
        --font-midi: 3rem;
        --font-mini: 1.75rem;
        --font-reg: 1.125rem;
        --font-tiny: 1rem;
    }
}

/*========================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/*========================================*/
/*--------------- [_Buttons] -------------*/
/*========================================*/
/*Btn Style Max*/

 .button{
    display: inline-block;
    background: var(--white-color);
    color: var(--text-primary-color);
    padding: .75rem 1rem;
    border-radius:  .625rem;
    font-size: var(--mfont-reg);
    font-weight: var(--font-semi);
    margin-top: 1rem;
    transition: .3s;
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
    border: none;
    cursor: pointer;
}

.btn{
    display: inline-block;
    background: transparent;
    color: var(--text-primary-color);
    padding: .75rem 1rem;
    border-radius:  .625rem;
    font-size: var(--mfont-reg);
    font-weight: var(--font-semi);
    margin-top: 1rem;
    transition: .3s;
    border: 1px solid #000;
    cursor: pointer;
}

.dark{
    background: var(--text-primary-color);
    color: var(--white-color);
    margin-right: 1rem;
}

.button:hover{
    background: var(--text-secondary-color);
}

.btn:hover{
    color: var(--text-primary-color);
    border: var(--text-primary-color) solid 1px;
}


@media screen and (min-width: 768px) {
    .button{
        padding: 1rem 2.5rem;
        font-size: var(--font-tiny);
        font-weight: var(--font-semi);
    }
}

body{
    background: #383838;
    color: var(--text-secondary-color);
}
h3{
    font-size: var(--mfont-midi);
    color: var(--white-color);
    font-weight: var(--font-semi);
    margin: var(--mfont-mini) 0px;
}
hr{
    height: .5px;
}
.contact{
    display: flex;
    max-width: 80rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: var(--mfont-mini);
}
.contact .socialMedia{
    display: flex;
    align-items: center;
}
.contact .socialMedia p{
    font-size: var(--mfont-mini);
    margin-right: var(--mfont-reg);
    color: var(--white-color);
}
.contact .socialMedia img{
    margin: 0px 7px;
}
.contact .callUs{
    font-size: var(--mfont-mini);
    color: var(--white-color);
}

.livStream {
    max-width: 80rem;
    margin: 0%;
    padding: var(--mfont-mini);
    margin: auto;
}

.livStream .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
}
.livStream .left{
    width: 70%;
    padding-right: var(--mfont-midi);
}
.livStream video{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.livStream .lieViews {
    display: flex;
    padding: var(--mfont-mini);
    align-items: center;
    color: var(--white-color);
    font-size: var(--mfont-mini);
    position: absolute;
    margin-top: -8rem;
}
.livStream .lieViews .text{
    color: var(--white-color);
    background: red;
    padding: 5px 10px;
}
.livStream .lieViews i{
    margin: 0px var(--mfont-reg);
}
.livStream .left h4{
    font-size: var(--mfont-midi);
    color: var(--white-color);
    margin: var(--mfont-mini) 0px;
}
.livStream .left .aboutService p{
    font-size: var(--mfont-mini);
    color: var(--text-secondary-color);
    font-weight: var(--font-light);
    margin-bottom: var(--mfont-midi);
}
.livStream .right{
    width: 30%;
}
.previousSundays{
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.previousSundays .row{
    display: flex;
    margin: 0%;
    padding: 0%;
    max-height: 8.125rem;
}
.previousSundays .first{
    width: 55%;
}
.previousSundays .first video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.previousSundays .second{
    padding-left: var(--mfont-mini);
    width: 45%;
}
.previousSundays .second .title{
    font-size: var(--mfont-mini);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--mfont-mini);
}
.previousSundays .second .preacher{
    font-size: var(--mfont-mini);
    color: var(--text-secondary-color);
    font-weight: var(--font-light);
    margin-bottom: var(--mfont-midi);
}
.previousSundays .second .date{
    font-size: var(--mfont-mini);
    color: var(--text-secondary-color);
    font-weight: var(--font-light);
}
.share .text{
    font-size: var(--mfont-mini);
    margin-top: var(--mfont-midi);
    margin-bottom: var(--mfont-mini);
    font-weight: var(--font-bold);
}
.share .button{
    width: 100%;
    margin: 0;
    height: 3.375rem;
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}




/* section two */
.sectionTwo{
    max-width: 80rem;
    margin: auto;
    padding: var(--mfont-mini);
}
.sectionTwo .header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: var(--mfont-mini) 0px;
}
.sectionTwo .header form{
    height: 3.125rem;
    border: 1px solid var(--white-color);
    width: 21.875rem;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.sectionTwo .header form i{
    font-size: var(--mfont-mini);
    color: var(--white-color);
    margin-right: var(--mfont-reg);
}
.sectionTwo .header form input{
    font-size: var(--mfont-mini);
    background: none;
    border: none;
}
.sectionTwo .header form input::placeholder{
    color: var(--text-secondary-color);
}

.sectionTwo .prevSundays{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}
.sectionTwo .prevSundays .one{
    width: 50%;
    height: 210px;
    margin-bottom: 3.5rem;
}
.sectionTwo .prevSundays .one .row{
    display: flex;
}
.sectionTwo .prevSundays .one .row .vid{
    width: 60%;
}
.sectionTwo .prevSundays .one .row .vid video{
    width: 100%;
    border-radius: 10px;
}

.sectionTwo .prevSundays .one .row .column{
    width: 40%;
    padding-left: var(--mfont-mini);
}
.sectionTwo .prevSundays .one .row .column .title{
    font-size: var(--mfont-mini);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--mfont-mini);
}
.sectionTwo .prevSundays .one .row .column .preacher{
    font-size: var(--mfont-mini);
    color: var(--text-secondary-color);
    font-weight: var(--font-light);
    margin-bottom: var(--mfont-midi);
}
.sectionTwo .prevSundays .one .row .column .date{
    font-size: var(--mfont-mini);
    color: var(--text-secondary-color);
    font-weight: var(--font-light);
    margin-bottom: var(--mfont-mini);
}
.sectionTwo .prevSundays .one .row .column .views{
    font-size: var(--mfont-mini);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--mfont-mini);
}
.sectionTwo .button {
    width: 350px;
    height: 3.375rem;
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    margin: auto;
    margin-top: var(--mfont-midi);
}
.sectionTwo .copyright{
    font-size: var(--mfont-mini);
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: var(--mfont-max);
    margin-bottom: var(--mfont-midi);
}

@media screen and (max-width: 768px) {
    .contact .callUs{
        margin-top: var(--mfont-midi);
    }
    .livStream .left{
        width: 100%;
        padding-right: 0%;
    }
    .livStream .right{
        width: 100%;
    }
    .livStream .left video{
        height: auto;
    }
    .livStream .lieViews{
        margin-top: -12.5rem;
        font-size: var(--mfont-tiny);
    }
    .sectionTwo .prevSundays .one{
        width: 100%;
        max-height: 8rem;
        margin-bottom: 2rem;
    }
    .sectionTwo .prevSundays .one .row .vid video{
        height: 100%;
        object-fit: cover;
    }
    .sectionTwo .prevSundays .one .row .column{
        padding-left: var(--mfont-tiny);
    }
    .sectionTwo .prevSundays .one .row .column .title{
        font-size: var(--font-tiny);
    }
    .sectionTwo .prevSundays .one .row .column .preacher{
        font-size: var(--mfont-tiny);
        margin-bottom: var(--mfont-tiny);
    }
    .sectionTwo .prevSundays .one .row .column .date{
        margin-bottom: var(--mfont-tiny);
        font-size: var(--mfont-tiny);
    }
    .sectionTwo .prevSundays .one .row .column .views{
        font-size: var(--mfont-tiny);

    }
    .sectionTwo .button{
        margin-top: var(--font-tiny);
    }
}
